.button {
    position: relative;
    display: flex;
    height: 4.25rem /* 68px */;
    width: 8.25rem /* 132px */;
    top: 0.576rem /* 9.216px */;
    left: 102.375rem /* 1638px */;
    border-width: 2px;
    /* align-items: center; */
    /* justify-content: center; */
    padding-top: 14px;
    padding-bottom: 14px;
    text-transform: uppercase;
    cursor: pointer;
    @apply bg-violet-700 border-violet-800
        hover:bg-violet-500 hover:border-violet-600
}
