.button {
    position: absolute;
    display: flex;
    height: 4.25rem /* 68px */;
    width: 8.25rem /* 132px */;
    top: 0.576rem /* 9.216px */;
    left: 102.375rem /* 1638px */;
    border-width: 2px;
    /* align-items: center; */
    /* justify-content: center; */
    padding-top: 14px;
    padding-bottom: 14px;
    text-transform: uppercase;
    cursor: pointer;
    @apply bg-violet-700 border-violet-800 text-white
        hover:bg-violet-500 hover:border-violet-600
}

.underlineStyling {
    position: absolute;
    top: 1.672rem /* 26.752px */;
    left: -0.016rem /* -0.256px */;
    border-top-width: 3px;
    border-style: solid;
    box-sizing: border-box;
    width: 3.781rem /* 60.496px */;
    height: 0.156rem /* 2.496px */;
    @apply border-violet-500
}

.themeToggle {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 2.25rem;
    left: 1411px;
    align-items: center;
    justify-content: center;
    gap: 8px
}
