{
    "singleQuote": true,
    "tabWidth": 4,
    "semi": false,
    "bracketSpacing": true,
    "bracketSameLine": true,
    "printWidth": 120,
    "singleAttributePerLine": false,
    "trailingComma": "none",
    "arrowParens": "avoid",
    "jsxBracketSameLine": true,
    "jsxSingleQuote": true
}
