.button {
    position: absolute;
    display: flex;
    flex-direction: row;
    height: 4.25rem /* 68px */;
    width: 8.25rem /* 132px */;
    top: 0.576rem /* 9.216px */;
    left: 102.375rem /* 1638px */;
    box-sizing: border-box;
    border-style: solid;
    border-width: 2px;
    align-items: center;
    justify-content: center;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    line-height: 1.5rem /* 24px */;
    text-transform: uppercase;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    @apply bg-violet-700 border-violet-800
        hover:bg-violet-500 hover:border-violet-600
}
