@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #e0e0e0;
    --foreground: #1d232a
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #1d232a;
        --foreground: #e0e0e0
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    /* font-family: Inter, sans-serif; */
    margin: 0;
    line-height: normal
}
