/* Final Page styles. */
.final {
    max-width: 28rem /* 448px */;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.5rem /* 40px */;
    padding: 1.5rem /* 24px */;
    @apply shadow-lg ring-2 ring-neutral
}

.submit {
    width: 100%;
    border-width: 2px;
    @apply bg-emerald-700 border-emerald-600 text-white
}

.submit:hover {
    @apply bg-emerald-600 border-emerald-500
}

/* First Page styles. */
.type {
    cursor: pointer;
    @apply shadow-xl transition-colors
}

.chosen {
    border-width: 2px;
    border-radius: 12px;
    @apply border-blue-400
}

.not-chosen {
    border-width: 2px;
    border-radius: 12px;
    @apply hover:ring-2 hover:ring-blue-500
}


.option {
    width: 100%;
    padding: 0.5rem;
    border-width: 1px;
    @apply border-neutral
}
